* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #545454;
  display: flex;
  font-family: sans-serif;
  justify-content: center;
}

.container {
  margin: 50px;
  padding: 50px;
  border-radius: 25px;
  background: #14bdac;
}

.title {
  text-align: center;
}

.title span {
  color: #f2ebd3;
}

.status-action {
  display: flex;
  margin-top: 25px;
  font-size: 25px;
  justify-content: space-around;
}

.reset {
  cursor: pointer;
}

.reset-hover {
  color: #f2ebd3;
}

.game-grid {
  background-color: #0da192;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 15px;
}

.game-cells {
  width: 200px;
  height: 200px;
  background: chartreuse;
}
